package pages

import "github.com/maximekuhn/expresso/internal/webapp/ui/components/forms"

templ Login() {
	@Page(loginBody())
}

templ loginBody() {
	<div class="flex h-screen items-center justify-center">
		@forms.LoginForm()
	</div>
}
