package pages

import "github.com/maximekuhn/expresso/internal/webapp/ui/components/forms"

templ Register() {
	@Page(registerBody())
}

templ registerBody() {
	<div class="flex h-screen items-center justify-center">
		@forms.RegisterForm()
	</div>
}
