package pages

import "github.com/maximekuhn/expresso/internal/webapp/ui/components/forms"

templ Register() {
	@Page(registerBody())
}

templ registerBody() {
	<div>
		<h1>Register</h1>
		@forms.RegisterForm()
	</div>
}
