package lists

import "github.com/maximekuhn/expresso/internal/webapp/ui"

templ GroupsList(groups []Group) {
	<div>
		for _, group := range groups {
			@groupListItem(group)
		}
	</div>
}

templ groupListItem(group Group) {
	<div>
		<p>Name: { group.Name }</p>
		<p>Owner: {  ui.FormatUserNameAndId(group.Owner.Name, group.Owner.ID) }</p>
		<p>Created at: { ui.FormatGroupCreatedAt(group.CreatedAt) }</p>
	</div>
}
